<html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>FreeCycle</title>
    <style>
      ul{
        list-style: none;
      }
      .navbar-brand{
        font-size: 3rem;
      }
      .card{
        width: 18rem;
        margin: 5px;
      }
      li{
        display:inline-block;
      }

    </style>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
      <a class="navbar-brand"><strong>FREECYCLE</strong></a>
    </nav>
  </div>
    <div id="app" class="container">
      <h3>Create an item : </h3>
      <form @:submit.prevent="create_item">
        <div class="form-group mx-sm-3 mb-2">
          <label  class="col-sm-1 col-form-label">UserName : </label>
          <input v-model="item.user_id" name="user_id" type ="text" placeholder="name">
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <label  class="col-sm-1 col-form-label">Latitude: </label>
          <input v-model="item.lat" name="lat" type="text" placeholder="Latitude">
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label class="col-sm-1 col-form-label">Longitude: </label>
        <input v-model="item.lon" name="lon" type="text" placeholder="Longitude">
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label class="col-sm-1 col-form-label">Image : </label>
        <input v-model="item.image" name="image" type="text" placeholder="Place a url for an image">
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label class="col-sm-1 col-form-label">Keywords : </label>
        <input v-model="item.keywords" name="keywords" type="text" placeholder="Keywords">
      </div>

      <div class="form-group mx-sm-3 mb-2">
        <label class="col-sm-1 col-form-label">Description : </label>
        <textarea v-model="item.description" name="description" placeholder="Description"></textarea>
      </div>
      <div class="form-group mx-md-3 mb-2">
        <button data-action="create_item" type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>
      </form>
      <h3>List of Items :</h3> 
      <ul>
        <li v-for="item in items">
          <div class="row">
            <div  class="col-lg-4">
              <div class="card border-primary mb-3">
                <img :src="item.image" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title"> User Id: {{item.user_id}}</h5>
                  <p data-field="id"> List Id: {{item.id}}</p>
                  <p class="card-text">Keywords: {{item.keywords}}</p>
                  <p class="card-text">Latitude: {{item.lat}}</p>
                  <p class="card-text">Longitude: {{item.lon}}</p>
                  <p class="card-text">Date: {{item.date_from}}</p>
                  <p class="card-text">Description: {{item.description}}</p>
                  <button @click="delete_item(item.id)" data-action="delete" class="btn btn-primary">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <script type="module">
    const { createApp } = Vue
    //https://github.com/calaldees/frameworks_and_languages_module/blob/main/docs/assignment_hints.md
    let API = '' //'https://8000-reem313-frameworksandla-lt146dhjlm1.ws-eu74.gitpod.io'
    const urlParams = new URLSearchParams(window.location.search);
	  const urlAPI = (urlParams.get('api') || DEFAULT_API).replace(/\/$/, '');  // Get api url (and remove trailing slash if present)
    const DEFAULT_API = '/api/v1';  // default to current http(s)://currentHost:currentPort/api/v1'

    createApp({
      data() {
        return {
          item: {
            id:'',
            user_id:'',
            keywords:'',
            lat:'',
            lon:'',
            image:'',
            date_from:'',
            description:'',
          },
          items:[],
        }
      },
      created(){
        this.clear_item()
        this.get_items()
      },
      // clear the text boxes after the user hit the submit button
    methods:{
      clear_item(){
        this.item= { ...this.item, ...{
            user_id:'',
            keywords:'',
            lat:'',
            lon:'',
            image:'',
            description:'',
        }}
      },
      //call the post function on the server side to create an item
        create_item() {
         fetch(`${urlAPI}/item`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(this.item),
          })
          .then(response => response.json())
          .then(json => console.log('create_item()', json))
          .then(this.clear_item)
          .then(this.get_items)
        .catch(err => console.error(err));
        },
        //call the items that it is stored in the item list in the server
        get_items() {
         fetch(`${urlAPI}/items`, {
            method: 'GET',
          })
          .then(response => response.json())
          .then(data => this.items=data)
          //.then(data => console.log('data', data))
        .catch(err => console.error(err));
        },
        //delete an item with id
        delete_item(item_id){
            fetch(`${urlAPI}/item/${item_id}`,{
                method: 'DELETE',
            })
            .then(json => console.log('delete_item()', json))
            .then(this.get_items)
              .catch(err => console.error(err));
        }
      },
    }).mount('#app')
    </script>
  </body>
</html>
