<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link id="favicon" rel="shortcut icon" type="image/png" href="data:image/png;base64,....==" />
    <title>FreeCycle</title>
    <style>

    /* styles here */

    </style>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>FreeCycle</h1>

    <div id="app">
      {{ message }}
      <form @:submit.prevent="addItem">
        <label>UserName</label>
        <input v-model="item.username" name="name" type ="text" placeholder="name">

        <label>lat</label>
        <input v-model="item.lat"  name="lat" type="text">

        <label>lon</label>
        <input v-model="item.lon" name="lon" type="text">

        <label>image</label>
        <input v-model="item.image" name="image" type="text" value="https://placekitten.com/200/300">

        <label>Keywords</label>
        <input v-model="item.keywords" name="keywords" type="text">

        <label>Description</label>
        <textarea v-model="item.description" ></textarea>
        <button>Submit</button>
      </form>

      <ul>
        <li v-for="item in items">
            <span>{{item.user_id}}</span>
            <span>{{item.lat}}</span>
            <span>{{item.lon}}</span>
            <span>{{item.image}}</span>
            <span>{{item.keywords}}</span>
            <span>{{item.description}}</span>
            <span>{{item.time}}</span>
        </li>
    </ul>

    </div>

<script type="module">

const { createApp } = Vue
let urlAPI =  '' //'https://8000-reem313-frameworksandla-lt146dhjlm1.ws-eu71.gitpod.io'

let testItem = {0:{
    user_id: "bob",
    lat: 1,
    lon: 1,
    image: "http://placekitten.com/100/100",
    keywords: "a, b, c",
    description: "a test item that is great",
}}

createApp({
  data() {
    return {
      item:{
        id: Math.random(),
        user_id:'',
        lat:'',
        lon:'',
        image:'',
        keywords:'',
        description:'',
        time: Date.now(),
      },
      items: {},

      message: 'New Item',
    }
  },
  created(){
    this.clearItem()
    this.getItems()
  },
  methods: {
    clearItem(){
      this.item ={...this.item, ...{
        item:{
        id: Math.random(),
        user_id:'',
        lat:'',
        lon:'',
        image:'',
        keywords:'',
        description:'',
        date: Date.now(),
      }}
    },
    addItem();{
      fetch(`${urlAPI}/item`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(this.item),
      })
        .then(response => response.json())
        .then(json => console.log('addItem()', json))
        .then(this.clearItem)
        .then(this.getItems)
      .catch(err => console.error(err))
    },

    getItems() {
    fetch(`${urlAPI}/items`, {
        method: 'GET',
    })
        .then(response => response.json())
        .then(data=> this.attendees=data)
    .catch(err => console.error(err))
  },
}
})
.mount('#app')

</script>
</body>
</html>